data/imslit/*.fits
data/hst-cr-combine/reproject/*.fits
data/hst-cr-combine/*.bck.dir
data/hst-cr-combine/reproject/*.bck.dir
data/turtle-hst-maps-2020-04.bck.dir
__pycache__
doc/auto
*.aux
*.blg
/doc/will-turtle.synctex.gz
.DS_Store
